h1{color:black;}
p{font-family: Arial; color: black
	;}
body {background-color: rgb(180,80
	,80)}

#chocolate{ 
	background-color:lightgrey;
	width: 250px; 
	border: 10px solid navy; 
	padding: 25px; 
	margin: 25px, 0,0,60px;
}


